<a href="https://colab.research.google.com/github/worldbank/dec-python-course/blob/main/1-foundations/3-numpy-and-pandas/foundations-s3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python for Data Science - Session 3

This session first talks about python libraries â€“ what are they and how to use them. Then it focuses on two libraries that are very commonly used in data science, NumPy and Pandas, with examples on data exploration and wrangling.

# 1.Python Libraries

Within the realm of python, a package is a collection of modules, a library is a collection of packages. In practice, "python library" and "python package" are used interchangeably to refer to a reusable chunk of code. Use of libraries allows us to "stand on the shoulders of giants".

## 1.1. Examples of Python libraries
- [NumPy](https://numpy.org/) stands for Numerical Python. It is the fundamental Python package for scientific computing.
- [pandas](https://pandas.pydata.org/) is a Python package for fast and efficient processing of tabular data, time series, matrix data, etc.
- [Matplotlib](https://matplotlib.org/)  is a comprehensive library for creating data visualizations in Python.

## 1.2. How to use libraries?

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

print(np.pi)

3.141592653589793

`import` followed by the library name loads the library into the environment. `as` is optional; it is usually used to alias the library name to a shorthand or for disambiguation. The above are some conventional aliases for these libraries. If you `import numpy` without aliasing, just be sure to use `numpy` instead of `np` when calling the library's functions later.

`import` the library like you would import a built-in python module works for common libraries on most cloud-based python notebook environments (e.g. Google Colab and Databricks) because they already pre-installed many common libraries like Pandas and NumPy.

## 1.3. What libraries are pre-installed?

[pip](https://pip.pypa.io/) is the de facto python package manager. You can use it to view the current installed packages:

In [5]:
# Note: ! in a notebook environment executes a bash command
# `| head` shortens the output to show only the first 10
!pip freeze | head

absl-py==1.4.0
aiohttp==3.8.6
aiosignal==1.3.1
alabaster==0.7.13
albumentations==1.3.1
altair==4.2.2
anyio==3.7.1
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
Exception ignored in: <_io.TextIOWrapper name='<stdout>' mode='w' encoding='utf-8'>
BrokenPipeError: [Errno 32] Broken pipe

To check if a library you want to use is already installed:

In [9]:
# `| grep` filters the output using the supplied keyword
!pip freeze | grep pandas

geopandas==0.13.2
pandas==1.5.3
pandas-datareader==0.10.0
pandas-gbq==0.17.9
pandas-stubs==1.5.3.230304
sklearn-pandas==2.2.0

Bash commands are commonly referred to as the terminal, console or command line. It's an interface to interact with a Unix-based operating system, which the notebook environment runs on. For the purpose of this session, we just need to know commands that start with `!` are bash commands, not python code. `grep`, `head`, `pip` are bash commands. `|` is known as the pipe, which channels the output of one bash command to another as the input. We use these bash commands to install, update, and view python packages.

## 1.4. Can I install a new library?

Again, we use the package manager `pip` to install a new package:

In [11]:
# install package wbgapi, for programmatically access the World Bank's data API
!pip install wbgapi

Collecting wbgapi
  Downloading wbgapi-1.0.12-py3-none-any.whl (36 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from wbgapi) (2.31.0)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.10/dist-packages (from wbgapi) (6.0.1)
Requirement already satisfied: tabulate in /usr/local/lib/python3.10/dist-packages (from wbgapi) (0.9.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->wbgapi) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->wbgapi) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->wbgapi) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->wbgapi) (2023.7.22)
Installing collected packages: wbgapi
Successfully installed wbgapi-1.0.12

## 1.5 How do I get help using a library?

Ask Google or ChatGPT, or directly reference the library's documentation:

- Pandas documentation: https://pandas.pydata.org/docs/reference/frame.html
- NumPy documentation: https://numpy.org/doc/stable/reference/arrays.ndarray.html

Inside a notebook environment, you can always invoke `help()` to bring up the documentation for any function:

In [12]:
help(pd.isna)

Help on function isna in module pandas.core.dtypes.missing:

isna(obj: 'object') -> 'bool | npt.NDArray[np.bool_] | NDFrame'
    Detect missing values for an array-like object.

    This function takes a scalar or array-like object and indicates
    whether values are missing (``NaN`` in numeric arrays, ``None`` or ``NaN``
    in object arrays, ``NaT`` in datetimelike).

    Parameters
    ----------
    obj : scalar or array-like
        Object to check for null or missing values.

    Returns
    -------
    bool or array-like of bool
        For scalar input, returns a scalar boolean.
        For array input, returns an array of boolean indicating whether each
        corresponding element is missing.

    See Also
    --------
    notna : Boolean inverse of pandas.isna.
    Series.isna : Detect missing values in a Series.
    DataFrame.isna : Detect missing values in a DataFrame.
    Index.isna : Detect missing values in an Index.

    Examples
    --------
    Scalar arguments (including strings) result in a scalar boolean.

    >>> pd.isna('dog')
    False

    >>> pd.isna(pd.NA)
    True

    >>> pd.isna(np.nan)
    True

    ndarrays result in an ndarray of booleans.

    >>> array = np.array([[1, np.nan, 3], [4, 5, np.nan]])
    >>> array
    array([[ 1., nan,  3.],
           [ 4.,  5., nan]])
    >>> pd.isna(array)
    array([[False,  True, False],
           [False, False,  True]])

    For indexes, an ndarray of booleans is returned.

    >>> index = pd.DatetimeIndex(["2017-07-05", "2017-07-06", None,
    ...                           "2017-07-08"])
    >>> index
    DatetimeIndex(['2017-07-05', '2017-07-06', 'NaT', '2017-07-08'],
                  dtype='datetime64[ns]', freq=None)
    >>> pd.isna(index)
    array([False, False,  True, False])

    For Series and DataFrame, the same type is returned, containing booleans.

    >>> df = pd.DataFrame([['ant', 'bee', 'cat'], ['dog', None, 'fly']])
    >>> df
         0     1    2
    0  ant   bee  cat
    1  dog  None  fly
    >>> pd.isna(df)
           0      1      2
    0  False  False  False
    1  False   True  False

    >>> pd.isna(df[1])
    0    False
    1     True
    Name: 1, dtype: bool

# 2.NumPy

NumPy (**Numerical Python**) is an open source Python library thatâ€™s used in almost every field of science and engineering. Itâ€™s the **universal standard** for working with numerical data in Python, and itâ€™s at the core of the scientific Python and PyData ecosystems. It serves as the foundation for popular data science and scientific Python packages, such as Pandas, SciPy, Matplotlib, scikit-learn.

This section is only covered in a full-day session, and left for self study for a half-day session. See [foundations-s3-numpy.ipynb](https://github.com/worldbank/dec-python-course/blob/main/1-foundations/3-numpy-and-pandas/foundations-s3-numpy.ipynb) for the corresponding material.

# 3.Pandas

<img src="https://miro.medium.com/max/1400/1*6d5dw6dPhy4vBp2vRW6uzw.png" width=800 />

Image credit: https://towardsdatascience.com/pandas-groupby-aggregate-transform-filter-c95ba3444bbb

Datasets we often work with come in tabular form â€“ think Excel/Google spreadsheets â€“ and with mixed data types, some numerical, some categorical, some textual. Before we can perform fancy mathematical operations and meaningful analysis on such data using NumPy and other python libraries, we usually need to understand and preprocess the data first. This process involves operations such as cleaning, reshaping, filtering, and subsetting. This is where Pandas comes in.

Aside: Why is such a data analysis library named Pandas? Apparently the name is derived from the term "panel data".

Like `ndarray` is the basic building block of NumPy, `Series` and `DataFrame` are the basic building blocks of Pandas.

## 3.1. Series

`Series` is a one-dimensional **labeled** array capable of holding **any data type**. The axis labels are collectively referred to as the index.

### Can I create a Series from a list?

In [13]:
import pandas as pd

# specify the labels through the `index` argument
labelled_series = pd.Series([1, 2, 3], index=["r1", "r2", "r3"])
labelled_series

r1    1
r2    2
r3    3
dtype: int64

In [14]:
# by default, integer sequence starting from 0 is used as labels
default_series = pd.Series([1, 2, 3])
default_series

0    1
1    2
2    3
dtype: int64

In [15]:
# Individual elements can be looked up using labels
labelled_series["r2"]

2

In [23]:
default_series[2]

3

### Can I recover the list from a series?

In [24]:
labelled_series.to_list()

[1, 2, 3]

### Can I create a Series from an ndarray?

In [17]:
import pandas as pd
import numpy as np

# specify the labels through the `index` argument
labelled_series = pd.Series(np.arange(1, 4), index=["r1", "r2", "r3"])
labelled_series

r1    1
r2    2
r3    3
dtype: int64

In [18]:
# by default, integer sequence starting from 0 is used as labels
default_series = pd.Series(np.arange(1, 4))
default_series

0    1
1    2
2    3
dtype: int64

In [19]:
# Individual elements can be looked up using labels
labelled_series["r2"]

2

In [20]:
default_series[2]

3

### Can I recover the ndarray from a series?

In [21]:
labelled_series.to_numpy()

array([1, 2, 3])

In [22]:
# alternatively
labelled_series.values

array([1, 2, 3])

### Can I apply the same transformation on every element in a Series?

It's similar to iterating through a list with a `for` or `while` loop, but in tabular data, the mindset is to apply the same `function` on every element in a Series. Why the change of mindset? The short answer is that it allows the library to perform the operations faster through parallel processing. For technical details, refer to [this blog post](https://medium.com/analytics-vidhya/understanding-vectorization-in-numpy-and-pandas-188b6ebc5398) (which also links to a talk specifically on such optimization approach known as vectorization).

Here's an example of transforming a list of strings to UPPERCASE using a `for` loop:

In [25]:
angry_libs = []
for lib in ['numpy', 'pandas']:
  angry_libs.append(lib.upper())
angry_libs

['NUMPY', 'PANDAS']

Here's how we would do it on a Series:

In [26]:
pd.Series(['numpy', 'pandas']).map(str.upper)

0     NUMPY
1    PANDAS
dtype: object

Let's break it down:

In [27]:
libraries = pd.Series(['numpy', 'pandas'])
libraries

0     numpy
1    pandas
dtype: object

In [28]:
str.upper

In [29]:
libraries.map(str.upper)

0     NUMPY
1    PANDAS
dtype: object

## 3.2. DataFrame

`DataFrame` is a 2-dimensional **labeled** data structure with **columns of potentially different types**. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.

### 3.2.1. Creating DataFrames

There are many ways to create a `DataFrame`. Let's look at some examples with the data types we are already familiar with.

#### Can I create a DataFrame from Series?

In [31]:
df_from_series = pd.DataFrame({"c1": labelled_series, "c2": labelled_series * 2})
df_from_series

    c1  c2
r1   1   2
r2   2   4
r3   3   6

In [32]:
df_from_series.columns

Index(['c1', 'c2'], dtype='object')

In [33]:
df_from_series.index

Index(['r1', 'r2', 'r3'], dtype='object')

#### Can I create a DataFrame from an ndarray?

In [34]:
raw_values = np.arange(1, 7).reshape(2, -1)
raw_values

array([[1, 2, 3],
       [4, 5, 6]])

In [35]:
df_from_ndarray = pd.DataFrame(raw_values, columns=['A', 'B', 'C'])
df_from_ndarray

   A  B  C
0  1  2  3
1  4  5  6

To recover the raw values from a `DataFrame`:

In [36]:
df_from_ndarray.values

array([[1, 2, 3],
       [4, 5, 6]])

#### Can I create a DataFrame from lists?

In [37]:
pd.DataFrame({"ID": [1, 2], "Name": ["dog", "cat"], "Needs Walking": [True, False]})

   ID Name  Needs Walking
0   1  dog           True
1   2  cat          False

#### Can I create a DataFrame from a file?

In [38]:
file_url = 'https://raw.githubusercontent.com/worldbank/dec-python-course/main/1-foundations/3-numpy-and-pandas/data/Singapore_Annual_New_Car_Registrations_by_make_type.csv'
singapore_cars = pd.read_csv(file_url)
singapore_cars

      year          make    fuel                type  number
0     2015    ALFA ROMEO  Petrol           Hatchback    29.0
1     2015  ASTON MARTIN  Petrol           Hatchback     3.0
2     2015          AUDI  Petrol           Hatchback   262.0
3     2015        AUSTIN  Petrol           Hatchback     1.0
4     2015        B.M.W.  Petrol           Hatchback   408.0
...    ...           ...     ...                 ...     ...
2805  2021        TOYOTA  Others  Coupe/ Convertible     NaN
2806  2021    VOLKSWAGEN  Petrol  Coupe/ Convertible     2.0
2807  2021    VOLKSWAGEN  Others  Coupe/ Convertible     1.0
2808  2021         VOLVO  Petrol  Coupe/ Convertible     2.0
2809  2021         VOLVO  Others  Coupe/ Convertible     NaN

[2810 rows x 5 columns]

To save a `DataFrame` as a csv file:

In [39]:
singapore_cars.to_csv('singapore_cars.csv')

In Colab, navigate to the folder icon in the left pane to find and download the exported csv file.

In Databricks, invoke `display(singapore_cars)` then click on the \\( \vee \\) icon next to the download icon under the output data grid, select "Download all rows".

In [40]:
display(singapore_cars)

      year          make    fuel                type  number
0     2015    ALFA ROMEO  Petrol           Hatchback    29.0
1     2015  ASTON MARTIN  Petrol           Hatchback     3.0
2     2015          AUDI  Petrol           Hatchback   262.0
3     2015        AUSTIN  Petrol           Hatchback     1.0
4     2015        B.M.W.  Petrol           Hatchback   408.0
...    ...           ...     ...                 ...     ...
2805  2021        TOYOTA  Others  Coupe/ Convertible     NaN
2806  2021    VOLKSWAGEN  Petrol  Coupe/ Convertible     2.0
2807  2021    VOLKSWAGEN  Others  Coupe/ Convertible     1.0
2808  2021         VOLVO  Petrol  Coupe/ Convertible     2.0
2809  2021         VOLVO  Others  Coupe/ Convertible     NaN

[2810 rows x 5 columns]

### 3.2.2. Inspecting the data

Now let's perform some basic inspection to understand our dataset.

#### How many rows and columns?

In [41]:
singapore_cars.shape

(2810, 5)

In [ ]:
nrow, ncol = singapore_cars.shape
print(f'nrow={nrow}, ncol={ncol}')

#### What are the column names?

In [ ]:
singapore_cars.columns

#### What does the data look like?

From the top:

In [ ]:
singapore_cars.head()

From the bottom:

In [ ]:
# Optionally specify the exact number of rows you want
singapore_cars.tail(3)

#### What type of data does each column currently hold and how many missing values?

In [ ]:
singapore_cars.info()

### 3.2.3. Subsetting the data

A crucial part of working with DataFrames is extracting subsets of the data: finding rows that meet a certain set of criteria, isolating columns/rows of interest, etc. After narrowing down our data, we are closer to discovering insights. This section will be the backbone of many analysis tasks.

#### How to select columns?

To select a single column (returns a `Series`):

In [ ]:
singapore_cars.make

In [ ]:
# Alternatively
singapore_cars['make']

The dictionary accessor is useful when the column name is not a valid Python variable, or when selecting multiple columns:

In [ ]:
singapore_cars[['make', 'fuel', 'type']]

#### How to select rows?
If the index are default sequential integers, simply select as if you are selecting from an array:

In [ ]:
singapore_cars[100:200]

#### How to select by columns and rows (aka indexing)?

Sometimes we want a specific "section" of the `DataFrame`, say the first 3 rows with just the middle 3 columns:

In [ ]:
singapore_cars.iloc[0:3, 1:4]

**Note** that it's not `()` that follows `iloc` but `[]`. This is because `iloc` is not a function/method, but a property on the DataFrame object.

We use `iloc` to select by row and column's positions above; use `loc` to select by row and column's names/labels:

In [60]:
singapore_cars.loc[10:15, ['year', 'number']]

    year  number
10  2015    10.0
11  2015     4.0
12  2015     1.0
13  2015     2.0
14  2015   155.0
15  2015  1068.0

In this case the rows' positions happen to be the same as the rows' names/labels.

**Important**: when selecting by position (`iloc`) only the start point is included, the end point is excluded. When selecting by name/label (`loc`), both start and end points are included.

#### How to filter rows based on conditions?

This is useful when we want to zoom in to explore a subset of the data satisfying some condition(s). For example, to get only 2021 data on petrol cars:

In [61]:
singapore_cars[(singapore_cars.year == 2021) & (singapore_cars.fuel == 'Petrol')]

      year          make    fuel                type  number
2375  2021    ALFA ROMEO  Petrol           Hatchback     NaN
2377  2021        ALPINE  Petrol           Hatchback     NaN
2378  2021  ASTON MARTIN  Petrol           Hatchback     NaN
2379  2021          AUDI  Petrol           Hatchback    34.0
2381  2021        AUSTIN  Petrol           Hatchback     1.0
...    ...           ...     ...                 ...     ...
2798  2021        SUBARU  Petrol  Coupe/ Convertible     NaN
2800  2021        SUZUKI  Petrol  Coupe/ Convertible     NaN
2803  2021        TOYOTA  Petrol  Coupe/ Convertible    27.0
2806  2021    VOLKSWAGEN  Petrol  Coupe/ Convertible     2.0
2808  2021         VOLVO  Petrol  Coupe/ Convertible     2.0

[235 rows x 5 columns]

**Important**: Take note of the syntax here. We surround each condition with parentheses, and we use bitwise operators (`&`, `|`, `~`) instead of logical operators (`and`, `or`, `not`).

This mode of row selection/filtering is called "boolean indexing" because the selection is based on the specified condition evaluating to `True` or `False` (aka boolean). Rows that satisfy the condition are selected; those do not are filtered out. You can see the condition for the above example gets evaluated for each row as `True`/`False`:

In [ ]:
(singapore_cars.year == 2021) & (singapore_cars.fuel == 'Petrol')

Think of `True` as 1 and `False` as 0, summing along the resulting `Series` gives us the number of rows that satisfy our condition, which matches our boolean indexing results above:

In [62]:
sum((singapore_cars.year == 2021) & (singapore_cars.fuel == 'Petrol'))

235

Combining boolean indexing and `loc` allows us to conditionally replace values in a dataframe:

In [65]:
singapore_cars.loc[singapore_cars.fuel == 'Petrol', "fuel"] = 'Gasoline'
singapore_cars

      year          make      fuel                type  number
0     2015    ALFA ROMEO  Gasoline           Hatchback    29.0
1     2015  ASTON MARTIN  Gasoline           Hatchback     3.0
2     2015          AUDI  Gasoline           Hatchback   262.0
3     2015        AUSTIN  Gasoline           Hatchback     1.0
4     2015        B.M.W.  Gasoline           Hatchback   408.0
...    ...           ...       ...                 ...     ...
2805  2021        TOYOTA    Others  Coupe/ Convertible     NaN
2806  2021    VOLKSWAGEN  Gasoline  Coupe/ Convertible     2.0
2807  2021    VOLKSWAGEN    Others  Coupe/ Convertible     1.0
2808  2021         VOLVO  Gasoline  Coupe/ Convertible     2.0
2809  2021         VOLVO    Others  Coupe/ Convertible     NaN

[2810 rows x 5 columns]

### 3.2.4. Exploring the data

Exploratory analysis is crucial in understanding the data. Pandas provides functions such as `value_counts`, `nunique`, `describe` alongside common summary statistical functions including `max`, `min`, `mean`, `median` to help us with the process.

First, recall the `number` column has many missing values, which means those records do not correspond to any registration:

In [ ]:
singapore_cars.info()

Let's filter them out using boolean indexing:

In [ ]:
singapore_cars_cleaned = singapore_cars[~np.isnan(singapore_cars.number)]
singapore_cars_cleaned.info()

Note the use of NumPy's universal function `np.isnan` on the numbers column (which is a Series). Boolean indexing just needs each row to evaluate to `True` or `False`, so any NumPy or Pandas function that operates on a Series and returns another Series of boolean can be used. This will be useful to keep in mind for the exercises coming right up!

#### How many unique rows?

How many different types and makes of cars are registered in Singapore over time?

In [ ]:
singapore_cars_cleaned.year.value_counts()

Seems like the number of different types and makes of cars registered in Signapore are fairly constant over time. Just to be sure, we can check the breakdown in percentage:

In [ ]:
singapore_cars_cleaned.year.value_counts(normalize=True)

Let's drill down to the 2021 registration data:

In [ ]:
singapore_cars_2021 = singapore_cars_cleaned[singapore_cars_cleaned.year == 2021]
singapore_cars_2021

What are the unique makes registered in 2021?

In [ ]:
singapore_cars_2021.make.unique()

How many unique values are there?

In [ ]:
singapore_cars_2021.make.nunique()

#### How to calculate summary statistics?

We can find basic statistics like we did on an `ndarray`, for example, finding the maximum number of cars registered in 2021 by make, fuel and type:

In [ ]:
singapore_cars_2021.number.max()

What is this most popular car (make-fule-type)?

In [ ]:
singapore_cars_2021.iloc[singapore_cars_2021.number.argmax(), ]

Going back to the all-time cleaned dataset, to quickly get common summary statistics for all columns at once:

In [ ]:
singapore_cars_cleaned.describe(include='all')

**Important**: NaN values signify missing data. For instance, the categorical/string columns such as `make`, `fuel` have no value for `mean`, `std` etc; likewise, numeric columns such as `number` and `year` have no entries for the categorical summary statistics (`unique`, `top`, `freq`).

Notice often the output of a Pandas function is also a Pandas object, e.g. Series or DataFrame, or a NumPy ndarray. This means other Pandas/NumPy functions can also be applied on them. We will see some examples of chained operations in the following sections.

### 3.2.5. Exercises: read and explore excel data

#### Step 1.

Create a `DataFrame` by reading in the excel file from the given URL stored in the `exercise_data_url` variable. There are 3 sheets in the excel file, we only want the last sheet.

Store the resulting DataFrame in a variable named `sg_cars_excel`:

In [ ]:
%%script echo Remove this line after filling in your own code

import pandas as pd

exercise_data_url = 'https://raw.githubusercontent.com/worldbank/dec-python-course/main/1-foundations/3-numpy-and-pandas/data/Singapore_Annual_New_Car_Registrations_by_make_type.xls'

# hint: use pd.read_excel, note sheet index starts with 0
# Your code here

assert sg_cars_excel.shape == (79, 12)

#### Step 2.

Inspect the first 3 and last 5 rows of `sg_cars_excel`:

In [ ]:
%%script echo Remove this line after filling in your own code

# hint: use head
# Your code here

In [ ]:
%%script echo Remove this line after filling in your own code

# hint: use tail
# Your code here

#### Step 3.

Notice the first value row in `sg_cars_excel` is in fact the years and should be used as the column names. The DataFrame also contains 3 footer rows we want to exclude. Fix it by re-reading the excel file with additional parameters.

Store the fixed DataFrame in `sg_cars_excel_fixed`:

In [ ]:
%%script echo Remove this line after filling in your own code

# hint: check out pd.read_excel's arguments: header=, skipfooter=
# Your code here

assert sg_cars_excel_fixed.columns[1] == 2011
assert sg_cars_excel_fixed.Make.iloc[0] == 'Alfa Romeo'
assert sg_cars_excel_fixed.columns[-1] == 2021
assert sg_cars_excel_fixed.Make.iloc[-1] == 'Others'
assert sg_cars_excel_fixed.shape == (75, 12)

#### Step 4.

Inspect the summary statistics for every year in `sg_cars_excel_fixed`:

In [ ]:
%%script echo Remove this line after filling in your own code

# hint: use describe
# Your code here

#### Step 5.

Within the dataframe `sg_cars_excel_fixed`, isolate the annual numbers of new car registrations for the following 3 makes: "Mercedes Benz", "Toyota", "Kia" for all years. Store the resulting DataFrame in variable `sg_cars_excel_subset`:

In [ ]:
%%script echo Remove this line after filling in your own code

# hint: use boolean indexing with .isin function on the make column
#       You can run pd.Series.isin? to find documentation and usage examples
# Your code here

assert sg_cars_excel_subset.shape == (3, 12)
assert "Mercedes Benz" in sg_cars_excel_subset.Make.values
assert "Toyota" in sg_cars_excel_subset.Make.values
assert "Kia" in sg_cars_excel_subset.Make.values

#### Step 6.

Only select the `Make` column and year 2019, 2020, and 2021 from the `sg_cars_excel_subset` DataFrame.

Store the result in variable `sg_cars_excel_subsubset`:

In [ ]:
%%script echo Remove this line after filling in your own code

# hint: use column selection
# Your code here

assert sg_cars_excel_subsubset.shape == (3, 4)
assert sg_cars_excel_subsubset.columns.to_list() == ['Make', 2019, 2020, 2021]

## 3.3. Data Wrangling

All that we have learned so far gives us some basic understand of data. Next let's find out how to perform data wrangling, including data cleaning, grouping, reshaping, merging and concatenation using Pandas.

### 3.3.1. Data Cleaning

In this section, we will take a look at dropping missing values; creating, renaming, and dropping columns; type conversion; and sorting â€“ all of which make our analysis easier. We will be working with the Singapore monthly new car registration data â€“Â a dataset similar to the annual car registration data we worked previously, just more granular.

In [42]:
import pandas as pd
import numpy as np

cars_monthly = pd.read_csv('https://raw.githubusercontent.com/worldbank/dec-python-course/main/1-foundations/3-numpy-and-pandas/data/Singapore_Monthly_New_Car_Registrations_by_make_type.csv')
cars_monthly

         month          make fuel_type        vehicle_type  number
0      2016-01    ALFA ROMEO    Petrol           Hatchback     3.0
1      2016-01        ALPINA    Petrol           Hatchback     0.0
2      2016-01  ASTON MARTIN    Petrol           Hatchback     0.0
3      2016-01          AUDI    Petrol           Hatchback    45.0
4      2016-01        B.M.W.    Petrol           Hatchback     5.0
...        ...           ...       ...                 ...     ...
27910  2022-06       TRIUMPH    Petrol  Coupe/ Convertible     1.0
27911  2022-06    VOLKSWAGEN    Petrol  Coupe/ Convertible     NaN
27912  2022-06    VOLKSWAGEN    Others  Coupe/ Convertible     NaN
27913  2022-06         VOLVO    Petrol  Coupe/ Convertible     NaN
27914  2022-06         VOLVO    Others  Coupe/ Convertible     NaN

[27915 rows x 5 columns]

In [ ]:
cars_monthly.info()

#### **Handling missing values**

There are multiple approaches to handle missing values â€“Â see [Pandas' user guide on working with missing data](https://pandas.pydata.org/docs/user_guide/missing_data.html) for more details. In our case let's drop the rows with missing values for the `number` column, as those records indicate there is no corresponding car registration for that month, make, fuel and vehicle type:

In [43]:
cars_monthly.dropna(subset=['number'])

         month           make fuel_type        vehicle_type  number
0      2016-01     ALFA ROMEO    Petrol           Hatchback     3.0
1      2016-01         ALPINA    Petrol           Hatchback     0.0
2      2016-01   ASTON MARTIN    Petrol           Hatchback     0.0
3      2016-01           AUDI    Petrol           Hatchback    45.0
4      2016-01         B.M.W.    Petrol           Hatchback     5.0
...        ...            ...       ...                 ...     ...
27876  2022-06  MERCEDES BENZ    Others  Coupe/ Convertible    12.0
27879  2022-06     MITSUBISHI    Petrol  Coupe/ Convertible     1.0
27890  2022-06        PORSCHE    Petrol  Coupe/ Convertible    31.0
27907  2022-06         TOYOTA    Petrol  Coupe/ Convertible     2.0
27910  2022-06        TRIUMPH    Petrol  Coupe/ Convertible     1.0

[16835 rows x 5 columns]

The argument `subset` here indicates which columns to evaluate for `na` values. If not specified, by default `dropna` will drop any row with any column containing `na` values.

The call to `dropna` by default also does not modify the original `DataFrame`; it returns a new `DataFrame` with `na` values dropped.

In [44]:
cars_monthly.shape

(27915, 5)

We can assign the returned `DataFrame` to a new variable, or we can tell `dropna` to modify the original `DataFrame` by passing the `inplace=True` parameter:

In [45]:
cars_monthly.dropna(subset=['number'], inplace=True)
cars_monthly.shape

(16835, 5)

#### **Renaming columns**

Let's rename the `month` column to `year_month`:

In [46]:
cars_monthly_renamed = cars_monthly.rename(columns={'month': 'year_month'})
cars_monthly_renamed.columns

Index(['year_month', 'make', 'fuel_type', 'vehicle_type', 'number'], dtype='object')

#### **Creating columns**

Let's create separate columns for year and month from the `year_month` column:

In [47]:
cars_monthly_renamed[['year','month']] = cars_monthly_renamed.year_month.str.split("-", expand=True)
cars_monthly_renamed

,year_month,make,fuel_type,vehicle_type,number,year,month
0,2016-01,ALFA ROMEO,Petrol,Hatchback,3.0,2016,01
1,2016-01,ALPINA,Petrol,Hatchback,0.0,2016,01
2,2016-01,ASTON MARTIN,Petrol,Hatchback,0.0,2016,01
3,2016-01,AUDI,Petrol,Hatchback,45.0,2016,01
4,2016-01,B.M.W.,Petrol,Hatchback,5.0,2016,01
...,...,...,...,...,...,...,...
27876,2022-06,MERCEDES BENZ,Others,Coupe/ Convertible,12.0,2022,06
27879,2022-06,MITSUBISHI,Petrol,Coupe/ Convertible,1.0,2022,06
27890,2022-06,PORSCHE,Petrol,Coupe/ Convertible,31.0,2022,06
27907,2022-06,TOYOTA,Petrol,Coupe/ Convertible,2.0,2022,06
27910,2022-06,TRIUMPH,Petrol,Coupe/ Convertible,1.0,2022,06

#### **Dropping columns**

Now we can drop the redundant `year_month` column:

In [48]:
cars_monthly_dropped = cars_monthly_renamed.drop(columns=['year_month'])
cars_monthly_dropped

                make fuel_type        vehicle_type  number  year month
0         ALFA ROMEO    Petrol           Hatchback     3.0  2016    01
1             ALPINA    Petrol           Hatchback     0.0  2016    01
2       ASTON MARTIN    Petrol           Hatchback     0.0  2016    01
3               AUDI    Petrol           Hatchback    45.0  2016    01
4             B.M.W.    Petrol           Hatchback     5.0  2016    01
...              ...       ...                 ...     ...   ...   ...
27876  MERCEDES BENZ    Others  Coupe/ Convertible    12.0  2022    06
27879     MITSUBISHI    Petrol  Coupe/ Convertible     1.0  2022    06
27890        PORSCHE    Petrol  Coupe/ Convertible    31.0  2022    06
27907         TOYOTA    Petrol  Coupe/ Convertible     2.0  2022    06
27910        TRIUMPH    Petrol  Coupe/ Convertible     1.0  2022    06

[16835 rows x 6 columns]

#### **Reordering columns**

It feels odd to have the `year` and `month` columns at the end. Let's move them to the front:

In [49]:
columns_ordered = ['year', 'month', 'make', 'fuel_type', 'vehicle_type', 'number']
cars_monthly_reordered = cars_monthly_dropped.reindex(columns=columns_ordered)
cars_monthly_reordered

       year month           make fuel_type        vehicle_type  number
0      2016    01     ALFA ROMEO    Petrol           Hatchback     3.0
1      2016    01         ALPINA    Petrol           Hatchback     0.0
2      2016    01   ASTON MARTIN    Petrol           Hatchback     0.0
3      2016    01           AUDI    Petrol           Hatchback    45.0
4      2016    01         B.M.W.    Petrol           Hatchback     5.0
...     ...   ...            ...       ...                 ...     ...
27876  2022    06  MERCEDES BENZ    Others  Coupe/ Convertible    12.0
27879  2022    06     MITSUBISHI    Petrol  Coupe/ Convertible     1.0
27890  2022    06        PORSCHE    Petrol  Coupe/ Convertible    31.0
27907  2022    06         TOYOTA    Petrol  Coupe/ Convertible     2.0
27910  2022    06        TRIUMPH    Petrol  Coupe/ Convertible     1.0

[16835 rows x 6 columns]

#### **Converting data types**

Notice the `number` column is of type `float64`:

In [50]:
cars_monthly_reordered.dtypes

year             object
month            object
make             object
fuel_type        object
vehicle_type     object
number          float64
dtype: object

Theoretically the numbers of car registration in a month should be integers. Let's double check just to be sure:

In [51]:
cars_monthly_reordered.number.map(float.is_integer).all()

True

Let's convert the `number`, `year`, `month` columns' types to be integer:

In [52]:
cars_monthly_converted = cars_monthly_reordered.astype({
    'number': 'int', 'year': 'int', 'month': 'int'})
cars_monthly_converted.dtypes

year             int64
month            int64
make            object
fuel_type       object
vehicle_type    object
number           int64
dtype: object

We will leave the rest of the columns as-is. It's tempting to convert them to `string` type but `string` type requires specifying max length, so we will keep them as `object` since it allows for variable length among column values.

#### **Sorting by values**

We can sort by the values of any column(s). To sort by the number of registrations in descending order:

In [58]:
cars_monthly_sorted = cars_monthly_converted.sort_values(
    ['number', 'year', 'month'],
    ascending=[False, True, True]
)
cars_monthly_sorted

       year  month        make fuel_type            vehicle_type  number
1581   2016      5       HONDA    Petrol  Sports Utility Vehicle    1198
1921   2016      6       HONDA    Petrol  Sports Utility Vehicle     986
901    2016      3       HONDA    Petrol  Sports Utility Vehicle     954
3427   2016     10       HONDA    Petrol  Sports Utility Vehicle     950
1488   2016      5      TOYOTA    Petrol                   Sedan     906
...     ...    ...         ...       ...                     ...     ...
10429  2018      6      TOYOTA    Diesel      Coupe/ Convertible       0
10430  2018      6      TOYOTA    Others      Coupe/ Convertible       0
10431  2018      6     TRIUMPH    Petrol      Coupe/ Convertible       0
10433  2018      6  VOLKSWAGEN    Diesel      Coupe/ Convertible       0
10434  2018      6       VOLVO    Petrol      Coupe/ Convertible       0

[16835 rows x 6 columns]

Notice the index of each row moved with the sorting operation. If we don't care for the original row index, we can invoke `reset_index` to re-establish the index sequence using the sorted values:

In [59]:
cars_monthly_sorted = cars_monthly_sorted.reset_index(drop=True)
cars_monthly_sorted

       year  month        make fuel_type            vehicle_type  number
0      2016      5       HONDA    Petrol  Sports Utility Vehicle    1198
1      2016      6       HONDA    Petrol  Sports Utility Vehicle     986
2      2016      3       HONDA    Petrol  Sports Utility Vehicle     954
3      2016     10       HONDA    Petrol  Sports Utility Vehicle     950
4      2016      5      TOYOTA    Petrol                   Sedan     906
...     ...    ...         ...       ...                     ...     ...
16830  2018      6      TOYOTA    Diesel      Coupe/ Convertible       0
16831  2018      6      TOYOTA    Others      Coupe/ Convertible       0
16832  2018      6     TRIUMPH    Petrol      Coupe/ Convertible       0
16833  2018      6  VOLKSWAGEN    Diesel      Coupe/ Convertible       0
16834  2018      6       VOLVO    Petrol      Coupe/ Convertible       0

[16835 rows x 6 columns]

Alternatively, the above can be achieved using the `ignore_index=True` argument when sorting:

In [55]:
cars_monthly_converted.sort_values(
    ['number', 'year', 'month'],
    ascending=[False, True, True],
    ignore_index=True
)

       year  month        make fuel_type            vehicle_type  number
0      2016      5       HONDA    Petrol  Sports Utility Vehicle    1198
1      2016      6       HONDA    Petrol  Sports Utility Vehicle     986
2      2016      3       HONDA    Petrol  Sports Utility Vehicle     954
3      2016     10       HONDA    Petrol  Sports Utility Vehicle     950
4      2016      5      TOYOTA    Petrol                   Sedan     906
...     ...    ...         ...       ...                     ...     ...
16830  2018      6      TOYOTA    Diesel      Coupe/ Convertible       0
16831  2018      6      TOYOTA    Others      Coupe/ Convertible       0
16832  2018      6     TRIUMPH    Petrol      Coupe/ Convertible       0
16833  2018      6  VOLKSWAGEN    Diesel      Coupe/ Convertible       0
16834  2018      6       VOLVO    Petrol      Coupe/ Convertible       0

[16835 rows x 6 columns]

Sorting a DataFrame by value could be helpful in discovering possible data integrity issues. For example, we notice here there are entries with `number=0` which we can remove from the dataset:

In [ ]:
cars_monthly_nonzero = cars_monthly_sorted[cars_monthly_sorted.number > 0]
cars_monthly_nonzero

We can also pick out the smallest/largest rows for similar data integrity checks:

In [ ]:
cars_monthly_nonzero.month.nsmallest(3)

In [ ]:
cars_monthly_nonzero.month.nlargest(3)

### 3.3.2. Aggregation & Grouping

In this section, we will explore using pivot tables, crosstabs, and group by operations to aggregate the data.

#### **`pivot_table`**

To get the aggregated number of new car registrations by make and year, using `pivot_table`:

In [ ]:
cars_monthly_pivoted = cars_monthly_nonzero.pivot_table(index='make', columns='year', values='number', aggfunc='sum')
cars_monthly_pivoted

Note the resulting DataFrame `cars_monthly_pivoted` has make as its row index, and year its column names.

#### **`crosstab`**

The Same can be achieve with the `pd.crosstab` function, but with different arguments:

In [ ]:
pd.crosstab(index=cars_monthly_nonzero.make,
            columns=cars_monthly_nonzero.year,
            values=cars_monthly_nonzero.number,
            aggfunc='sum')

Notice that `crosstab` does not require your data to be in a `DataFrame`, so you might find it natural to use `pivot_table` when your data is already in a `DataFrame` and `crosstab` otherwise. Internally to Pandas, `crosstab` invokes `pivot_table` to calculate the results.

#### **`groupby`**

Those coming from SQL land might feel more comfortable with `groupby`, which requires a reshaping with `unstack` to get the same results:

In [ ]:
cars_monthly_nonzero.groupby(['make', 'year']).sum()[['number']].unstack()

Internally, Pandas uses `groupby` to implement `pivot_table`.

#### **Why do I need to know how things are implemented within Pandas?**

Usually the function (e.g. `groupby`) used for implementing other functions (e.g. `pivot_table`, `crosstab`) can be more powerful and flexible as it is considered a more fundamental operation, but it may not be as user-friendly e.g. more parameters may need to be specified or additional operations required to achieve the same thing. It is not necessary to understand the internals of Pandas to use it, but it could help us navigate which might be the most suitable function to use for a given problem.

### 3.3.3. Reshaping data

"A dataset can be written in two different formats: wide and long. A **wide** format contains values that do not repeat in the first column. A **long** format contains values that do repeat in the first column. Notice that in the wide dataset, each value in the first column is unique."

<img src="https://www.statology.org/wp-content/uploads/2021/12/wideLong1-1.png"/>

Image credit: https://www.statology.org/long-vs-wide-data/

Applied researchers often collect, store and analyze their data in the wide format. Classic ANOVA and MANOVA techniques for repeated measures and structural equation models for longitudinal data assume the wide format. Modern multilevel techniques and statistical graphs, however, sometimes work only from the long format.

Now let's find out how we can convert between these two formats in Pandas.

#### **Melting (wide to long)**

The `DataFrame` generated from aggregating above is an example of wide format data. Let's convert it to long:

In [ ]:
cars_monthly_melted = cars_monthly_pivoted.melt(var_name='year', value_name='number', ignore_index=False)
cars_monthly_melted

#### **Pivoting (long to wide)**

We can use `pivot` to convert the long format back to wide format:

In [ ]:
cars_monthly_melted.pivot(columns='year')

#### **Transposing**

Sometimes we might simply need to flip the rows and columns:

In [ ]:
cars_monthly_pivoted.T

### 3.3.4. Merging data

When working with multiple datasets a common operation is to merge them using a common identifier. Pandas provides the `merge` function to achieve this. For those familiar with relational database, it is very similar to the SQL `JOIN` statement.

#### **Preparing for merge**

To demonstrate the power of `merge` let's first aggregate the original Singapore annual new car registration dataset at the make and year level, which will allow us to later join with `cars_monthly_melted` and check if the two datasets (anual & monthly) agree on their numbers:

In [ ]:
cars_annually_aggregated = singapore_cars_cleaned.pivot_table(index='make', columns='year', values='number', aggfunc='sum')
cars_annually_aggregated

A quick check reveals that both the make and year have different unique values between the original annual and monthly datasets:

In [ ]:
cars_monthly_pivoted.columns

In [ ]:
cars_annually_aggregated.index.intersection(cars_monthly_pivoted.index).size

The difference might be attributable to the different time range covered by these two datasets. We can narrow down the join and comparison to only the shared year and make â€“Â think inner join for you SQL people.

In [ ]:
cars_annually_melted = cars_annually_aggregated.melt(var_name='year', value_name='number', ignore_index=False)
cars_annually_melted

Let's drop the `NAN` rows from both melted datasets:

In [ ]:
cars_annually_melted.dropna(inplace=True)
cars_monthly_melted.dropna(inplace=True)
print(f'annual dataset shape: {cars_annually_melted.shape}, monthly dataset shape: {cars_monthly_melted.shape}')

`reset_index` makes the current index `make` a normal column, and generates a new default index. This will allow us to specify `make` as one of the columns to merge the two DataFrames on later.

In [ ]:
cars_annually_reset = cars_annually_melted.reset_index()
cars_monthly_reset = cars_monthly_melted.reset_index()
print(f'annual dataset columns: {cars_annually_reset.columns}')
print(f'monthly dataset columns: {cars_monthly_reset.columns}')

#### **Performing the merger**

With common columns and both datasets in long format, let's perform the merge!

In [ ]:
cars_merged = pd.merge(cars_annually_reset, cars_monthly_reset, how="inner", on=["make", "year"])
cars_merged

#### **Using merge results**

`number_x` corresponds to the `number` values from the "left" DataFrame `cars_annually_melted`, while `number_y` corresponds to the `number` values from the "right" DataFrame `cars_monthly_melted`. We can now compare if the two sets of values are identical for every make-year pair:

In [ ]:
cars_merged.number_x == cars_merged.number_y

Recall the NumPy's `all` universal function? Let's use it to check if the two numbers are the same for every row:

In [ ]:
np.all(cars_merged.number_x == cars_merged.number_y)

Not the case! Use conditional subsetting to see which rows are different:

In [ ]:
cars_merged[cars_merged.number_x != cars_merged.number_y]

This is something we can report to Singapore's Land Transport Authority (LTA). Good job LTA on keeping the vast majority of the records consistent!

### 3.3.6. Exercises: improve merging with index difference and outer join

You might have noticed we weren't being very careful with the merger of the annual and monthly data for comparison, because by performing an inner join, only make-year keys present in both datasets will be included for comparison. It's possible that some make-year keys are only present in the annual data, others only present in the monthly data. How can we find out if there are such discrepancies?

In [ ]:
# Execute this code cell to prepare the dataset for exercises below

import pandas as pd
import numpy as np

# read and clean the monthly dataset
cars_monthly = pd.read_csv('https://raw.githubusercontent.com/worldbank/dec-python-course/main/1-foundations/3-numpy-and-pandas/data/Singapore_Monthly_New_Car_Registrations_by_make_type.csv')
cars_monthly.dropna(subset=['number'], inplace=True)

cars_monthly_renamed = cars_monthly.rename(columns={'month': 'year_month'})
cars_monthly_renamed[['year','month']] = cars_monthly_renamed.year_month.str.split("-", expand=True)
cars_monthly_dropped = cars_monthly_renamed.drop(columns=['year_month'])

columns_ordered = ['year', 'month', 'make', 'fuel_type', 'vehicle_type', 'number']
cars_monthly_reordered = cars_monthly_dropped.reindex(columns=columns_ordered)

cars_monthly_converted = cars_monthly_reordered.astype({
    'number': 'int', 'year': 'int', 'month': 'int'})

cars_monthly_nonzero = cars_monthly_converted[cars_monthly_converted.number > 0]
cars_monthly_pivoted = cars_monthly_nonzero.pivot_table(index='make', columns='year', values='number', aggfunc='sum')
cars_monthly_melted = cars_monthly_pivoted.melt(var_name='year', value_name='number', ignore_index=False)

cars_monthly_reset = cars_monthly_melted.dropna().reset_index()

# read and clean the annual dataset
file_url = 'https://raw.githubusercontent.com/worldbank/dec-python-course/main/1-foundations/3-numpy-and-pandas/data/Singapore_Annual_New_Car_Registrations_by_make_type.csv'
singapore_cars = pd.read_csv(file_url)
singapore_cars_cleaned = singapore_cars[~np.isnan(singapore_cars.number)]
cars_annually_aggregated = singapore_cars_cleaned.pivot_table(index='make', columns='year', values='number', aggfunc='sum')
cars_annually_melted = cars_annually_aggregated.melt(var_name='year', value_name='number', ignore_index=False)
cars_annually_reset = cars_annually_melted.dropna().reset_index()

Let's take a look at the two DataFrames we are going to work with as the starting point:

In [ ]:
cars_monthly_reset

In [ ]:
cars_annually_reset

#### Step 1.

Recall the annual dataset `cars_annually_reset` covers year 2015-2021, while the monthly `cars_monthly_reset` covers year 2016-2022, so let's take out 2015 from the annual data (store the result in `cars_annually_16_21`), and filter out 2022 from the monthly (store the result in `cars_monthly_16_21`):

In [ ]:
%%script echo Remove this line after filling in your own code
# hint: use subsetting with boolean indexing
# your code here

assert 2015 not in cars_annually_16_21.year.to_list()
assert 2016 in cars_annually_16_21.year.to_list()
assert 2022 not in cars_monthly_16_21.year.to_list()
assert 2021 in cars_monthly_16_21.year.to_list()

#### Step 2.

We want to quickly investigate if the make-year keys are different between these two datasets. The function `difference` or `symmetric_difference` on the `Index` object will allow us to carry out the comparison. First let's create such a composite index made of the `make` and `year` column for both `cars_annually_16_21` and `cars_monthly_16_21`. Store the results in `cars_annually_duo_index` and `cars_monthly_duo_index` respectively:

In [ ]:
%%script echo Remove this line after filling in your own code
# hint: use set_index
# your code here

assert ('ALFA ROMEO', 2016) in cars_annually_duo_index.index
assert ('VOLVO', 2021) in cars_annually_duo_index.index
assert ('ALFA ROMEO', 2016) in cars_monthly_duo_index.index
assert ('VOLVO', 2021) in cars_monthly_duo_index.index

#### Step 3

Invoke `difference` twice to compare the indexes of the two DataFrame: `cars_annually_duo_index` and `cars_monthly_duo_index`. First invocation is to find what's in the first index but not in the second; then invoke it again to find what's in the second index but not the first.

Alternatively you may invoke `symmetric_difference` once to get the union of all the differences in one go.

In [ ]:
%%script echo Remove this line after filling in your own code
# hint: use cars_annually_duo_index.index.difference, or symmetric_difference
# Your code here

In [ ]:
# hint: use cars_monthly_duo_index.index.difference or skip this cell if used symmetric_difference before
# Your code here

#### Step 4

Notice the make Mclaren has two difference spellings. Let's take a look at those records in each dataset by filtering down to just the Mclaren records.

You might find the composite index not the most straightforward to work with. Feel free to do the subsetting on `cars_annually_16_21` and `cars_monthly_16_21` instead.

In [ ]:
%%script echo Remove this line after filling in your own code
# hint: use boolean indexing with .str.casefold() on the make column
# Your code here

In [ ]:
%%script echo Remove this line after filling in your own code
# hint: use boolean indexing with .str.casefold() on the make column
# Your code here

#### Step 5.

Mclaren is Capitalized in the annual dataset but Mixed-CASE in the monthly dataset. Let's unify them by UPPERCASING all the `make` values. Make the changes inplace for both `cars_annually_16_21` and `cars_monthly_16_21`:

In [ ]:
%%script echo Remove this line after filling in your own code
# hint: use column creation, but overwrite the 'make' column; check out .str.upper() function
# Your code here

assert(np.all(cars_annually_16_21['make'].str.isupper()))
assert(np.all(cars_monthly_16_21['make'].str.isupper()))

#### Step 6.

Notice there are two entries with different numbers for MCLAREN 2017 in the monthly dataset, which we will need to fix by aggregating. Store the fixed monthly DataFrame in variable `cars_monthly_16_21_cleaned`, which should look like `cars_monthly_16_21` structurally (i.e. no composite/multi index), just with fewer rows:

In [ ]:
%%script echo Remove this line after filling in your own code
# hint: use groupby followed by reset_index or
# pivot_table followed by melt, dropna, and reset_index

# Your code here

condition = (cars_monthly_16_21_cleaned.make == 'MCLAREN') & (cars_monthly_16_21_cleaned.year == 2017)
assert cars_monthly_16_21_cleaned[condition]['number'].values[0] == 10
assert cars_monthly_16_21_cleaned.shape == (316, 3)

#### Step 7.

With our data re-cleaned, now let's merge `cars_monthly_16_21_cleaned` and `cars_annually_16_21` using the `make` and `year` as keys. Let's perform an outer join this time. Store the merged results in variable `cars_merged_clean`:

In [ ]:
%%script echo Remove this line after filling in your own code
# hint: use pd.merge with arguments how="outer"

# Your code here

assert cars_merged_clean.shape == (316, 4), "cars_merged_clean should have 4 columns: year, make, number_x, number_y"

#### Step 8.

Last but not least, compare the merged numbers for each make-year record. Are they all matching perfectly now?

In [ ]:
%%script echo Remove this line after filling in your own code
# hint: use np.all

# Your code here

If you've made it this far and still want to learn more, head over to the [bonus material](https://colab.research.google.com/github/worldbank/dec-python-course/blob/main/1-foundations/3-numpy-and-pandas/foundations-s3-bonus.ipynb) for more on libraries, numpy, and pandas!

# References & Additional Resources

* **Important**: [Pandas Cheat sheet](https://github.com/pandas-dev/pandas/blob/main/doc/cheatsheet/Pandas_Cheat_Sheet.pdf) by Pandas

* [Bash Commands for Data Scientists](https://builtin.com/data-science/bash-commands) by Giorgos Myrianthous

* [NumPy Quickstart](https://numpy.org/doc/stable/user/quickstart.html) by NumPy

* The Pandas section of this workshop is heavily based on [Pandas Workshop](https://github.com/stefmolin/pandas-workshop) by Stefanie Molin

* [10 Minutes to Pandas](https://pandas.pydata.org/docs/user_guide/10min.html) - a part of Pandas' official user guide

* [Python for Data Science](https://github.com/worldbank/Python-for-Data-Science/tree/master/June_2021_ETEC/day_2) for World Bank ETEC staff

* [Python Training for Stata Users](https://github.com/worldbank/dime-python-training) by World Bank Development Impact Evaluation (DIME)

* The Singapore annual and monthly car registration datasets used in the Pandas section come from [Singapore Land Transport Authority's Data Mall](https://datamall.lta.gov.sg/content/datamall/en/static-data.html)

* [Long vs. Wide Data: Whatâ€™s the Difference?](https://www.statology.org/long-vs-wide-data/) by Zach from Statology

* [Flexible Imputation of Missing Data](https://stefvanbuuren.name/fimd/) by S. van Buuren